$font: 'Agatho', 'Times New Roman', sans-serif;

$realWhite: #ffff;
$white: #f4f4f4;
$black: #000000;
$darkgray: #19191a;
$lightGray: #e8e8e8;
$boxGray: #d0d2d2;

$sectionHeight: calc( 100vh - 100px);

$globMargin: 0 5rem;

